.button {
    width: 100px;
    height: 50px;
    background: #e40202;
    margin: 0 auto;
    display: grid;
    align-items: center;
    border-radius: 50px;
    border-style: none;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    &:hover {
        background: #491717;
        transform: scale(1.1);
      }
}